{% extends "base.html" %}

{% block content %}
    <h1>Collective Backup</h1>
    <h2>{{ client.clientName or 'Register'}}</h2>
    <form id="register-form">
        <div>
        <label for="name-field">Client name:</label>
        <input type="text" name="name-field" id="name-field">
        </div>
        <div>
        <label for="day-field">Backup frequency:</label>
        <input type="text" name="day-field" id="day-field">
        </div>
        <div>
        <label for="time-field">Backup time:</label>
        <input type="text" name="time-field" id="time-field">
        </div>
        <input type="submit" value="Register">
    </form>
{% endblock %}