{% extends "base.html" %}

{% block header %}
    <div class="header">
        <h1>Collective Backup - Register</h1>
    </div>
{% endblock %}

{% block content %}
    <form method="post" id="register-form">
        <div class="form-floating">
            <input type="text" class="form-control" name="clientName" placeholder="" id="clientName" required>
            <label for="clientName">Client name</label>
        </div>
        <div class="form-floating">
            <select class="form-select" name="backupDay" id="backupDay">
                <option value="hourly">Hourly</option>
                <option selected value="daily">Daily</option>
                <option value="weekly">Weekly</option>
                <option value="monthly">Monthly</option>
            </select>
            <label for="backupDay">Backup frequency</label>
        </div>
        <div class="form-floating">
            <input class="form-control" type="time" name="backupTime" placeholder="" id="backupTime" required>
            <label for="backupTime">Backup time</label>
        </div>
        <div class="form-floating">
            <input class="form-control" placeholder="" type="text" name="backupDirs" id="backupDirs" required>
            <label for="backupDirs">Folders to back up</label>
            <!-- <input type="file" name="backupDirs" 
                webkitdirectory directory multiple/> -->
        </div>
        <button class="btn btn-primary" type="submit" value="Register">
            <!-- <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> -->
            Register
        </button>
    </form>
{% endblock %}