{% extends "base.html" %}

{% block content %}
    <h1>Collective Backup - {{ client.clientName or 'Register'}}</h1>
    <form method="post" id="register-form">
        <div>
        <label for="clientName">Client name:</label>
        <input type="text" name="clientName" id="clientName" required>
        </div>
        <div>
        <label for="backupDay">Backup frequency:</label>
        <select name="backupDay" id="backupDay">
            <option value="hourly">Hourly</option>
            <option selected value="daily">Daily</option>
            <option value="weekly">Weekly</option>
            <option value="monthly">Monthly</option>
        </select>
        </div>
        <div>
        <label for="backupTime">Backup time:</label>
        <input type="time" name="backupTime" id="backupTime" required>
        </div>
        <div>
        <label for="backupDirs">Folders to back up:</label>
        <input type="text" name="backupDirs" id="backupDirs" required>
        <!-- <input type="file" name="backupDirs" 
            webkitdirectory directory multiple/> -->
        </div>
        <input class="btn" type="submit" value="Register">
    </form>
{% endblock %}