* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 100vh;
    background-color: #777;
}

form {
    margin: auto;
    background-color: aqua;
    padding: 1rem;
}

input, select {
    margin: .25rem;
    padding: 2px;
}

.btn {
    padding: .5rem;
}